{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Ma Boutique Demo
{% endblock %}

{% block content %}

	<h1>Modifier mon mot de passe
	</h1>

	<div>
		<a class="btn btn-dark" href="{{path('account')}}">Retourner à mon compte</a>
	</div>

	<hr>
	{% if notification %}
		<div class="alert alert-secondary">{{ notification}}</div>
	{% endif %}
	<div class="col-md-6">
		{{form(form)}}
		</div>

	{% endblock %}
