{% extends 'base.html.twig' %}

{% block title %}Nos produits - Ma Boutique Demo
{% endblock %}

{% block content %}
	<div>
		<a href="{{path('home')}}" class="text-dark">
			<b>Accueil</b>
		</a>
		/
		<a href="{{path('products')}}" class="text-dark">
			<b>Nos produits</b>
		</a>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<h3>Filtrer</h3>
			{{ form(form) }}
			</div>
			<div class="col-md-9">
				<h3>Nos produits</h3>

				<div class="row product-container">
					{% for product in products %}
						<div class="col-md-4">
							{% include 'product/single_product.html.twig' %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
