{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Ma Boutique Demo
{% endblock %}

{% block content %}
	<h2>Nous contacter</h2>
	<p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-secondary">{{ message }}</div>
	{% endfor %}
	<div class="row">
		<div class="col-md-8">
			{{ form(form) }}
			</div>
			<div class="col-md-4">
				<img src="{{asset('assets/img/logoB.png')}}" alt="Logo Ma Boutique Demo" width="167" height="50">
				<hr>
				04 67 01 02 03<br/>
				1 place de la gare, 34000 Montpellier.<br/>
				contact@maboutiquedemo.dev<br/>
			</div>
		</div>

	{% endblock %}
